body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/back.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    max-width: 620px;
    max-height: 550px;
    border-radius: 10px;
    box-shadow: 1px 1px 100px #000;
    position: absolute;
}

.card {
    width: 100%;
    aspect-ratio: 3/4;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 100px #000;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease;

}

.face {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
}

.front {
    transform: rotateY(-180deg);
    background-color: darkcyan;
}

.back {
    background-image: url('../img/lander.png');
    backface-visibility: hidden;
}

.card:hover {
    cursor: pointer;
    box-shadow: none;
    
}
.revelCard{
    transform: rotateY(-180deg);

}